<div class="form-container mat-elevation-z5">
    <h1>Add product</h1>
    <form [formGroup]="addProductForm" (ngSubmit)="submit()">

        <mat-form-field>
            <input matInput placeholder="Product Name" formControlName="name" />
            <mat-error *ngIf="name?.errors?.['required']">
                Product name is required
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Description" formControlName="description" />
            <mat-error *ngIf="description?.errors?.['required']">
                Product description is required
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Rating" formControlName="rating" />
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Price" formControlName="price" />
            <mat-error *ngIf="price?.errors?.['required']">
                Price is required
            </mat-error>
        </mat-form-field>





        <div class="center margin-top">
            <button type="submit" mat-raised-button color="primary">Add Product</button>
        </div>
    </form>